.footer {
  background: #ab8261;
  color: var(--general-bg);
  padding: 60px 0 66px;
}

.footer__inner {
  display: grid;
  gap: 40px 15px;
  grid-template-columns: 0.9fr 0.9fr 1.1fr auto;
}

.footer__col:first-child {
  margin-top: -30px;
}

.footer__logo {
  display: block;
  max-width: 240px;
}

.footer__logo img {
  width: 100%;
}

.footer__logo-text {
  margin-bottom: 20px;
}

.footer__col-list {
  margin-top: -5px;
}

.footer__col-item {
  padding-bottom: 10px;
}

.footer__col-item:last-child {
  padding-bottom: 0;
}

.footer__col-link {
  position: relative;
  z-index: 1;
  display: block;
  padding: 5px 0;
}

.footer__col-link::before {
  content: '';
  position: absolute;
  top: -8px;
  left: -13px;
  width: 34px;
  height: 34px;
  background: var(--accent-color);
  border-radius: 50px;
  z-index: -1;
  opacity: 0;
  transition: var(--transition);
}

.footer__col-link:hover::before {
  opacity: 1;
}

.footer__contact-list {}

.footer__contact-tem {
  margin-bottom: 10px;
}

.footer__contact-tem:last-child {
  margin-bottom: 0;
}

/* по какой-то причине, margin-bottom не задается футер кол телу
задал падин ботом для кол копи */
.footer__col-tel {}

.footer__col-number {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.6;
  transition: var(--transition);
}

.footer__col-number:hover {
  color: var(--accent-color);
}

.footer__col-copy {
  padding-top: 47px;
  color: #dec5b1;
}

.socials {
  line-height: 0;
}

.socials__list {
  display: flex;
  gap: 15px;
}

.socials__item {}

.socials__item {}

.socails__link path {
  transition: var(--transition);
}

.socails__link:hover path {
  fill: var(--accent-color);
}

