.one {
background: #625f5f;
color: #f0f8ff;
}
.site {
  color: #e259be;
}
.cub {
  width: 100px;
  height: 100px;
  background: #ff0000;
}
.element {
  width: 300px;
  background: #e259be;
}
.ok {
  background: #87236d;
  color:#f0ffff;
}